<div class="registrate">
  <form class="registrate-form">
    <div class="registrate-form__field-set">
      <input class="registrate-form__field-input"
             placeholder="Email"
             name="email"
             [(ngModel)]="userCredentials.email">
    </div>
    <div class="registrate-form__field-set registrate-form__field-set--with-password-hint">
      <input class="registrate-form__field-input"
             placeholder="Password"
             name="password"
             [type]="!userCredentials.isPaswordVisible ? 'password' : 'text'"
             [(ngModel)]="userCredentials.password">
    </div>
    <div class="registrate-form__field-set registrate-form__field-set--password-hint">

    </div>
    <div class="registrate-form__controls">
      <button class="registrate-form__button button-primary"
              (click)="onSingUp()">
        Sing Up
      </button>
    </div>
    <div class="registrate-form__links">
      <a class="registrate-form__link"
         routerLink="/registrate">
        Already have account?
      </a>
    </div>
  </form>
</div>
