@import "../../../../assets/styles/color.constants.scss";

.registrate {
  display: flex;
  justify-content: center;
  .registrate-form {
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 150, 136, 0.5);
    margin-top: 10%;
    &__field {
      &-set {
        display: flex;
        margin: 35px 0;
        &--with-password-hint {
          margin-bottom: 5px;
        }
        &--password-hint {
          margin-top: 5px;
        }
      }
      &-password-hint{
        margin-top: 5px;
      }
      &-input {
        width: 100%;
        background: transparent;
        border: none;
        padding: 10px 20px;
        border-bottom: #333333 2px solid;
        color: $primary-text-color;
        &:focus {
          outline: none;
          border-bottom: $base-color 2px solid;
        }
      }
    }
    &__button {
      width: 100%;
      background: none;
      border: 2px solid #383838;
      padding: 10px 15px;
      font-size: 17px;
      &:hover, &:focus {
        border-color: $base-color;
        color: black;
        background-color: $base-color;
      }
    }
    &__links {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
    }
    &__link {
      text-decoration: none;
      color: #eeeeee;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        text-decoration: none;
      }
    }
  }
}

input::-webkit-input-placeholder { color: black;  font-size: 15px}
