@import "../../../../assets/styles/color.constants.scss";

.user-info{
  display: flex;
  justify-content: space-around;
  font-size: 19px;
  color: $background-color;
  &__name{
    padding: 18px 5px;
  }
  &__icon{
    padding: 18px 20px;
    &:hover {
      background-color: #cccccc;
      color: $base-color;
    }
  }
}
