<div class="user-info" id="user-info">
  <div class="user-info__name" >
    User name
  </div>
  <div class="user-info__icon" (click)="logout()">
    <i class="fa fa-sign-out-alt"></i>
  </div>
</div>
