@import "../../../../assets/styles/color.constants.scss";

.header {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 150, 136, 0.5);
  &__menu {
  }
  &__user-info {
  }
  &__singin-up {
    width: 100%;
  }
}

