<div class="header">
    <app-menu class="header__menu" *ngIf="isLogined | async"></app-menu>
    <app-user-info class="header__user-info" *ngIf="isLogined | async"></app-user-info>
    <app-singin-up class="header__singin-up" *ngIf="!(isLogined | async)"></app-singin-up>
</div>



