<div class="test-page">
  <app-question *ngFor="let question of questions; let i=index"
                [question]="question"
                (appOnValueChanged)="onValueChanged($event, i)"
                [groopId]="i"></app-question>
  <div class="test-page__button-wrapper">
    <input type="reset" value="RESET" class="reset-button button">
    <input type="submit" value="SUBMIT" class="submit-button button" (click)="onSubmit()">
  </div>
</div>
<app-modal-window *ngIf="isResultVisible">
  <div class="result">
    <div class="result__content content">
      <p class="content__header">CONGRATULATION!</p>
      <div class="content__item">
        SCORE
        <div>{{result.score}}</div>
      </div>
      <div class="content__item">
        CORRECT ANSWERS
        <div>{{result.correct}}</div>
      </div>
    </div>
    <input type="button" value="ok" class="modal-button" [routerLink]="'../../'">
  </div>
</app-modal-window>
