@import "../../../../assets/styles/color.constants.scss";

.test-page{
  margin: 100px auto;
  width: 80%;
  padding: 40px;
  background-color: rgba(56, 56, 56, 0.7);
  box-shadow: 0 4px 10px 0 rgba(201, 201, 201, 0.2), 0 4px 20px 0 rgba(201, 201, 201, 0.19);
  &__button-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
.button {
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
  background-color: #00c9bb;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.reset-button{
  background-color: #707070;
  color: #c9c9c9;
}
.result{
  width: 300px;
  height: 300px;
  padding: 20px;
  &__content{
    height: 250px;
    width: 250px;
  }
  .content{
    &__header{
      color: #009688;
      font-size: 24px;
      text-align: center;
      padding-bottom: 20px;
    }
    &__item{
      display: flex;
      justify-content: space-between;
      text-align: left;
      color: #36384C;
      font-size: 18px;
      padding-bottom: 10px;
      font-weight: bolder;
    }
  }
}
.modal-button{
  width: 100%;
  border-radius: 1px;
  background-color: #eeeeee;
  border: solid 1px #383838;
  color: #383838;
  text-transform: uppercase;
  font-size: 17px;
  padding: 5px;
  &:hover{
    background-color: #009688;
    border: solid 1px #009688;
    color: #eeeeee;
  }
}
