<div class="user-tests">

  <div class="user-tests__header test test--header header">
    <div class="test__item--header test__item">
      Test Name
    </div>
    <div class="test__item--header test__item">
      Deadline
    </div>
    <div class="test__item--header test__item">
      Questions
    </div>
    <div class="test__item--header test__item">
      Created
    </div>
    <div class="test__item--header test__item">
      Pass test
    </div>
  </div>

  <div class="user-tests__header test test" *ngFor="let test of tests">
    <div class="test__item">
      {{test.name}}
    </div>
    <div class="test__item">
      {{test.deadline}}
    </div>
    <div class="test__item">
      {{test.questionsCount}}
    </div>
    <div class="test__item">
      {{test.created}}
    </div>
    <div class="test__item start">
      <button class="start__button button" (click)="onStart(test.id)">Start</button>
    </div>
  </div>

</div>
