@import "../../../../assets/styles/color.constants.scss";

.singin-up{
  display: flex;
  justify-content: flex-end;
  &__login{
    cursor: pointer;
    padding: 20px 10px;
    &--active{
      background-color: $background-color;
      color: $base-color;
      outline: none;
    }
  }
  &__registration{
    cursor: pointer;
    padding: 20px 10px;
    &--active{
      background-color: $background-color;
      color: $base-color;
      outline: none;
    }
  }
}
