<div class="singin-up">
  <div class="singin-up__login" [routerLink]="'./user/login'" routerLinkActive="singin-up__login--active">
    Singin in
    <i class="fas fa-sign-in-alt"></i>
  </div>
  <div class="singin-up__registration" [routerLink]="'./user/registration'" routerLinkActive="singin-up__registration--active">
    Singin up
    <i class="fas fa-user-plus"></i>
  </div>
</div>
