.modal-window{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 35;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 56, 56, 0.6);
  &__popup{
    background-color: #c0c0c0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 201, 187, 0.2), 0 4px 20px 0 rgba(0, 250, 236, 0.19);
  }
}
