.user-tests{
  margin: 0 auto;
  padding-top: 150px;
  width: 80%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  .accordion{
    background-color: #cccccc;
    margin-top: 30px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    &__title{
      font-size: 20px;
      font-weight: 400;
      padding: 15px;
      &--active {
        color: #36384C;
        background-color: #eeeeee;
      }
    }
    &__content{

    }
  }
}
