<div class="user-tests">
  <div  class="user-tests__accordion accordion">
    <div class="accordion__title" (click)="showContent()" [ngClass]="{'accordion__title--active': isContentVisible}">Active tests</div>
  <div class="accordion__content"  *ngIf="isContentVisible">
    <app-test-list [tests]="activeTests"></app-test-list>
  </div>
</div>
  <div  class="user-tests__accordion accordion">
    <div class="accordion__title" (click)="showContent()" [ngClass]="{'accordion__title--active': !isContentVisible}">Completed tests</div>
    <div class="accordion__content" *ngIf="!isContentVisible">
      <app-finished-test-list [tests]="passedTests"></app-finished-test-list>
    </div>
  </div>
</div>
