<div class="menu">
  <div class="menu__icon" (click)="showMenu()">
    <i class="fa fa-bars"></i>
  </div>
  <div class="menu__items" [ngClass]="{'menu__items--small': isMenuVisible}">
    <div [routerLink]="'./home'" routerLinkActive="menu__item--active" class="menu__item">Home</div>
    <div [routerLink]="'./my-tests'" routerLinkActive="menu__item--active" class="menu__item">My tests</div>
    <div class="menu__item dropdown" [ngClass]="{'dropdown--small':isMenuVisible}">
        Test search
        <i class="fa fa-caret-down"></i>
      <div class="dropdown__content">
        <a [routerLink]="'./my-tests'" class="dropdown__item">Public</a>
        <a [routerLink]="'./my-tests'" class="dropdown__item">Private</a>
      </div>
    </div>
  </div>

</div>
