@import "../../../../assets/styles/color.constants.scss";

.menu {
  font-size: 19px;
  &__items {
    display: flex;
    &--small {
      @media screen and (max-width: 600px) {
        flex-direction: column;
        .menu__item {
          display: block;
          text-align: left;
        }
      }
    }
  }
  &__icon {
    @media screen and (min-width: 600px) {
      display: none;
    }
    color: $background-color;
    padding: 19px;
    display: inline-block;
    &:hover {
      background-color: #cccccc;
      color: $base-color;
    }
  }
  &__item {
    @media screen and (max-width: 600px) {
      display: none;
    }
    display: block;
    cursor: pointer;
    color: $background-color;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    &--active {
      background-color: $background-color;
      color: $base-color;
      font-weight: 500;
      outline: none;
    }
    &:hover {
      background-color: #cccccc;
      color: $base-color;
    }
  }
  .dropdown {
    @media screen and (max-width: 600px) {
      display: none;
    }
    &:hover {
      background-color: #cccccc;
      color: $base-color;
      cursor: pointer;
      .dropdown__content {
        margin-top: 18px;
        margin-left: -15px;
        display: block;
      }
    }
    &--small {
      @media screen and (max-width: 600px) {
        &:hover {
          background-color: #cccccc;
          color: $base-color;
          cursor: pointer;
          .dropdown__content {
            display: block;
            width: 100%;
            left: 0;
            margin-left: 0;
            margin-top: 10px;
          }
        }
        display: inline-block;
        .dropdown__button {
          display: inline-block;
        }
      }
    }
    &__button {
      border: none;
      outline: none;
      color: $background-color;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      font-size: 19px;
      &:hover {
        background-color: #cccccc;
        color: $base-color;
        cursor: pointer;
      }
    }
    &__content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &__item {
      color: $secondary-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      &:hover {
        background-color: #cccccc;
        color: $secondary-color;
      }
    }
  }
}
