<div class="home">
  <div class="home__video-container video-container">
    <video class="video-container__video" id="homeVideo" autoplay loop>
      <source src="../../../../assets/video/home-video.mov">
    </video>
    <div class="video-container__video-text video-text">
      <h1 class="video-text__header">Test yourself</h1>
      <p class="video-text__text">
        Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis
        neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae,
        ad
        mutat oblique delicatissimi pro.
      </p>
    </div>
  </div>

  <div class="home__advantages advantages">
    <h1 class="advantages__header header"><span class="text-marked">WHY</span> IS IT BECOMING IMPORTANT <span
      class="text-marked">NOW</span>?</h1>
    <div class="advantages__items advItems">
      <div class="advItems__item advItem">
        <div class="advItem__image">
          <img src="../../../../assets/images/advantages1.svg" alt="lorem" class="advImage">
        </div>
        <h3 class="advItem__header">Lorem</h3>
        <p class="advItem__text">Lorem ipsum dolor sit amet, an his etiam torquatos.</p>
      </div>
      <div class="advItems__item advItem">
        <div class="advItem__image">
          <img src="../../../../assets/images/big-owl.svg" alt="lorem" class="advImage">
        </div>
        <h3 class="advItem__header">Lorem</h3>
        <p class="advItem__text">Lorem ipsum dolor sit amet, an his etiam torquatos.</p>
      </div>
      <div class="advItems__item advItem">
        <div class="advItem__image">
          <img src="../../../../assets/images/antique-elegant-building-with-columns.svg" alt="lorem" class="advImage">
        </div>
        <h3 class="advItem__header">Lorem</h3>
        <p class="advItem__text">Lorem ipsum dolor sit amet, an his etiam torquatos.</p>
      </div>
    </div>
  </div>

  <main class="home__main-info main-info">
    <div class="main-info__picture">
      <img src="../../../../assets/images/home-main.svg" alt="home-main" class="mainImage">
    </div>
    <div class="main-info__description description">
      <h1 class="description__header">KEEP <span class="text-marked">KALM</span> and STUDY <span class="text-marked">HARD</span>
      </h1>
      <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    </div>
  </main>

  <div class="home__contact contact">
    <div class="contact__form-wrapper form-wrapper">
      <h3 class="form-wrapper__header">CONTACT <span class="text-marked"> US</span></h3>
      <form action="" class="form-wrapper__form contact-form">
        <input type="text" id="name" name="name" placeholder="Your name.." class="contact-form__input">
        <input type="email" id="email" name="email" placeholder="Your e-mail.." class="contact-form__input">
        <textarea id="subject" name="subject" placeholder="Write something.." class="contact-form__input textarea"></textarea>
        <input type="submit" value="Submit" class="contact-form__inputbtn submit-button">
      </form>
    </div>
    <div class="contact__info info">
      <div class="info__map" id="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d20325.633028119857!2d30.4869428!3d50.4466115!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1531249431961"
          frameborder="0"  class="ifMap" allowfullscreen></iframe>
      </div>
      <div class="info__contact-data contact-data">
        <div class="contact-data__item item">
          <p class="item__name">TEL</p>
          <a href="tel://1-555-555-5555" class="item__value">+1 (555) 555-5555</a>
        </div>
        <div class="contact-data__item item">
          <p class="item__name">SKYPE</p>
          <a href="#" class="item__value">EXAMPLE</a>
        </div>
        <div class="contact-data__item item">
          <p class="item__name">E-MAIL</p>
          <a href="#" class="item__value">EXAMPLE</a>
        </div>
        <div class="contact-data__item item">
          <p class="item__name">ADRESS</p>
          <a href="https://www.google.com.ua/maps/@50.4466115,30.4869428,14z?hl=ru" class="item__value">EXAMPLE</a>
        </div>
      </div>
    </div>
  </div>
</div>
