.home {
  width: 100%;
  padding: 58px 0 0;
  background-color: rgba(56, 56, 56, 0.7);
  &__video-container {
    position: relative;
  }
  .video-container {
    &__video {
      width: 100%;
      height: auto;
    }
    &__video-text {
      max-width: 600px;
      position: absolute;
      top: 10%;
      left: 5%;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      padding: 10px;
      @media screen and (max-width: 600px) {
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
  .video-text {
    &__header {
      color: #00c9bb;
      padding-bottom: 3%;
    }
    &__text {
      font-size: 17px;
      line-height: 1.5;
      @media screen and (max-width: 600px) {
        line-height: 1.2;
        font-size: 15px;
      }
    }
  }
  &__advantages {
    padding: 100px 20px;
    margin: 0 auto;
    width: 80%;
    color: #eeeeee;
    @media screen and (max-width: 600px) {
      width: 95%;
      padding: 30px 10px;
    }
  }
  .advantages {
    &__header {
      font-size: 70px;
      text-align: center;
      padding-bottom: 100px;
      @media screen and (max-width: 600px) {
        font-size: 30px;
        padding-bottom: 15px;
      }
    }
    .header {
      &__items {
      }
    }
  }
  .advItems {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__item {
      padding: 20px;
      @media screen and (max-width: 600px) {
        padding: 5px;
      }
    }
  }
  .advItem {
    &__image {
      background-color: #333333;
      border-radius: 150px;
      width: 300px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 600px) {
        width: 150px;
        height: 150px;
        border-radius: 75px;
      }
    }
    &__header {
      padding: 50px 0 10px;
      width: 300px;
      text-align: center;
      color: #00faec;
      @media screen and (max-width: 600px) {
        width: 150px;
        padding: 7px 0 5px;
      }
    }
    &__text {
      width: 300px;
      text-align: center;
      @media screen and (max-width: 600px) {
        width: 150px;
      }
    }
  }
  &__main-info {
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .main-info {
      &__picture {
        padding-top: 30px;
        padding-left: 20px;
        @media screen and (max-width: 600px) {
          padding-top: 0;
          padding-left: 0;
        }
      }
      &__description {
        padding-top: 50px;
        max-width: 900px;
        color: #eeeeee;
        @media screen and (max-width: 600px) {
          max-width: 400px;
        }
        .description {
          &__header {
            font-size: 55px;
            text-align: center;
            padding-bottom: 15px;
            @media screen and (max-width: 600px) {
              font-size: 30px;
            }
          }
          &__text {
            font-size: 25px;
            line-height: 1.5;
            text-align: center;
            @media screen and (max-width: 600px) {
              font-size: 17px;
            }
          }
        }
      }
    }
  }
  &__contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 200px 70px 70px;
    @media screen and (max-width: 600px) {
      padding: 70px;
    }
  }
  .contact {
    &__form-wrapper {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 40px;
      height: 600px;
    }
    .form-wrapper {
      &__header {
        font-size: 35px;
      }
      &__form {
      }
      .contact-form {
        &__input {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
          resize: vertical;
        }
        &__inputbtn {
          width: 100%;
          background-color: #00c9bb;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
    &__info {
      padding: 20px 0 0;
    }
    .info{
      &__map{
      }
      &__contact-data{
        padding: 40px 0 0;
        @media screen and (max-width: 600px) {
          padding: 15px 0;
        }
      }
      .contact-data{
        &__item{
          display: flex;
          width: 200px;
          justify-content: space-between;
        }
        .item{
          &__name{
            color: #00c9bb;
            font-size: 20px;
          }
          &__value{
            text-decoration: none;
            color: #eeeeee;
          }
        }
      }
    }
  }
}
.ifMap{
  width: 600px;
  height: 450px;
  border: 0;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}
.advImage {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    width: 100px;
    height: 100px;
  }
}
.textarea{
  height: 250px;
}
.text-marked {
  color: #00c9bb;
}

.mainImage {
  width: 400px;
  height: auto;
  @media screen and (max-width: 600px) {
    width: 250px;
    height: auto;
  }
}


