@import "../../../../assets/styles/color.constants.scss";

.question {
  border-bottom: 1px solid $secondary-color;
  padding: 20px;
  color: #c9c9c9;
  &__text {
    font-size: 20px;
    padding: 20px;

  }
  &__answers {
  }
  .answers {
    &__item {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      user-select: none;
    }
    .item{
      &__lable{
        display: block;
        width: 100%;
        background-color: rgba(201, 201, 201, 0.5);
        border-radius: 10px;
        text-align: center;
        color: white;
      }
    }
  }
}
.lable input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.lable:hover input ~ .checkmark {
  background-color: #ccc;
}
.lable input:checked ~ .checkmark {
  background-color: #00c9bb;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.lable input:checked ~ .checkmark:after {
  display: block;
}






