<div class="question">
  <div class="question__text">
    {{question.text}}
  </div>
  <div class="question__answers answers">
    <div class="answers__item item" *ngFor="let answer of question.answers">
      <label class="item__lable lable">
        <input [value]="answer" (change)="onChange($event)" type="radio" [name]="groopId"> {{answer}}
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</div>



