
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  background: url(./assets/images/background.jpg) no-repeat;
  background-color: #36384C;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

