@import "../../../../assets/styles/color.constants.scss";

$background-text: #ffffff;
$main-light: #cccccc;
$main-dark: #383838;

.user-tests {
  background-color: #cccccc;
  &__header {
    display: flex;
    align-items: center;
  }
  .header {
    background-color: $main-light;
    color: #00c9bb;
  }
  .test {
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    &__item {
      flex: 1;
      &--header {
        color: #009688;
        font-weight: bolder
      }
    }
  }
  .open {
    &__button {
      background: none;
      border: 2px solid $main-dark;
      padding: 10px 15px;
      &:hover, &:focus {
        border-color: #00c9bb;
        color: $background-text;
        background-color: #00c9bb;
      }
    }
  }
}

