<div class="user-tests">

  <div class="user-tests__header test test--header header">
    <div class="test__item--header test__item">
      Test Name
    </div>
    <div class="test__item--header test__item">
      Pass Date
    </div>
    <div class="test__item--header test__item">
      Result
    </div>
    <div class="test__item--header test__item">
      Show statistic
    </div>
  </div>

  <div class="user-tests__header test test" *ngFor="let test of tests">
    <div class="test__item">
      {{test.name}}
    </div>
    <div class="test__item">
      {{test.passDate}}
    </div>
    <div class="test__item">
      {{test.result}}
    </div>
    <div class="test__item open">
      <button class="open__button button">Open</button>
    </div>
  </div>

</div>

